<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{ $styles := resources.Get "css/style.css" | minify -}}
    <style>
        {{- $styles.Content | safeCSS -}}
    </style>

    {{- with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{- end }}

    {{ partial "head_custom" . }}
</head>
